<header>
   <div class="nav">
        <div class="left ">
           <a  href="#"><h1>Shakil Ahmed</h1></a> 
         </div>
         <div class="right">
               <ul class="navbar"> 
                   <li><a   href="/">Home</a></li>
                   <li> <a  href="/login">Login</a></li>
                   <li> <a  href="/register">Registeration</a></li>
               </ul>
         </div>
     </div> 
     <div class="design">
             <h1>Welcome to Mern development course</h1>
             <p>Best course for beginners</p>
     </div>
 </header>